# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Build outputs
dist/
build/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Cache
.cache/
.eslintcache
.npm

# Misc
*.pid
*.seed
*.pid.lock
.node_repl_history
.yarn-integrity 
.vercel
