     option_settings:
       aws:elasticbeanstalk:application:environment:
         MONGODB_URI: "mongodb+srv://mazenmagzoub:fBwlb1QVINB3lKgq@elcluster.it45s.mongodb.net/?retryWrites=true&w=majority&appName=ELCluster"
         FRONTEND_URL: "http://localhost:3000"
         RESEND_API_KEY: "re_KBdqmTvn_NhSeDPbvDLXeMth6WusvtxTP"
         PORT: "3001"
         JWT_SECRET: "expert-language-secret-2024"
         ADMIN_EMAIL: "admin@expertlanguage.co.uk"
         ADMIN_PASSWORD: "Admin123!"